@model IEnumerable<CRUD_Persona_Entidades.clsDepartamento>

@{
    ViewData["Title"] = "listaDepartamentos";
}

<h1>listaDepartamentos</h1>

<p>
    <a asp-action="insertarDepartamento" asp-controller="Departamento">Insertar departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "editarDepartamento", "Departamento", new {  id= item.ID }) |
                @Html.ActionLink("Borrar", "borrarDepartamento","Departamento", new { id= item.ID  })
            </td>
        </tr>
}
    </tbody>
</table>
